<% form_for(@developer) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'edit_form', :locals => {:f => f} %>

 <div class="form_button_container">
	<%= f.submit 'Create', {:id => 'submit_button', :class => 'button'} %>
	<%= f.submit 'Cancel', {:id => 'cancel_button', :class => 'button'}  %>
  </div>

<% end %>
