
<div class="yui-b" id="bug_table_div">
	<%= render :partial => 'bug_table' %>
</div>

<div id="filter_dialog" title="Filters" style="display:none;">
	<%= render :partial => 'bugs/bug_filters' %>
</div>

<script type="text/javascript">
  	$(document).ready(function() {
  	
		$('#bug_table').dataTable({
			"iDisplayLength": 25,
			"aaSorting": [[5, "asc"]]
		});
		
		$("#filter_dialog").dialog({
	      	bgiframe: true, 
	      	autoOpen: false, 
	      	modal: true,
	      	width: '850px',
			buttons: {
				Cancel: function() {
					$(this).dialog('close');
					$('#filter_commit').val('cancel');
					$('#filter_form').submit();
					
				},
				'OK': function() {
					$(this).dialog('close');
					$('#filter_commit').val('update');
					$('#filter_form').submit();
				}
			}
	    });
  	} );
  </script>